<?xml version="1.0" ?>
<launch>
  <arg name="init_x" default="0.0" />
  <arg name="init_y" default="0.0" />
  <arg name="init_yaw" default="0.0" />

  <include file="$(find kobuki_softnode)/launch/full.launch" />

  <node pkg="fake_localization" name="fake_localization" type="fake_localization">
    <remap from="base_pose_ground_truth" to="odom" />
    <param name="delta_x" value="$(arg init_x)" />
    <param name="delta_y" value="$(arg init_y)" />
    <param name="delta_yaw" value="$(arg init_yaw)" />
  </node>

</launch>


