<?xml version="1.0" ?>
<launch>

  <!-- Passed in map information from parent include launch file. -->
  <arg name="map_short_name" />
  <arg name="map_directory" />

  <node pkg="epic" type="epic_navigation_node" name="epic_navigation_node" output="screen">
    <param name="algorithm" value="harmonic" />
    <param name="rviz_support" value="false" />
    <param name="steps_per_update" value="300" />
    <param name="update_rate" value="30" />

    <param name="sub_occupancy_grid" value="/map" />
    <param name="sub_map_pose_estimate" value="/initialpose" />
    <param name="sub_map_nav_goal" value="/move_base_simple/goal" />

    <param name="srv_add_goals" value="add_goals" />
    <param name="srv_remove_goals" value="remove_goals" />
    <param name="srv_get_cell" value="get_cell" />
    <param name="srv_set_cells" value="set_cells" />
    <param name="srv_reset_free_cells" value="reset_free_cells" />
    <param name="srv_compute_path" value="compute_path" />

    <param name="pub_map_path" value="path" />
  </node>

  <node pkg="snap" type="snap_node" name="snap_node" output="screen">
    <param name="update_rate" value="10" />

    <param name="map_name" value="$(arg map_short_name)" />
    <param name="map_directory" value="$(arg map_directory)" />

    <param name="sub_kobuki_odometry" value="/odom" />
    <param name="sub_kobuki_bumper" value="/mobile_base/events/bumper" />
    <param name="sub_kobuki_cliff" value="/mobile_base/events/cliff" />
    <param name="sub_kobuki_wheel_drop" value="/mobile_base/events/wheel_drop" />

    <param name="pub_kobuki_velocity" value="/mobile_base/commands/velocity" />
    <param name="pub_kobuki_reset_odometry" value="/mobile_base/commands/reset_odometry" />
    <param name="pub_kobuki_led_1" value="/mobile_base/commands/led1" />
    <param name="pub_kobuki_led_2" value="/mobile_base/commands/led2" />
    <param name="pub_kobuki_sound" value="/mobile_base/commands/sound" />

    <param name="sub_map" value="/map" />
    <param name="sub_joy" value="/joy" />
    <param name="sub_depth_point_cloud" value="/camera/depth/points" />

    <param name="pub_laser_scan" value="/scan" />

    <param name="srv_epic_add_goals" value="/epic_navigation_node/add_goals" />
    <param name="srv_epic_remove_goals" value="/epic_navigation_node/remove_goals" />
    <param name="srv_epic_reset_free_cells" value="/epic_navigation_node/reset_free_cells" />
    <param name="srv_epic_compute_path" value="/epic_navigation_node/compute_path" />

    <param name="pub_path" value="path" />
    <param name="pub_path_rate" value="0.2" />
  </node>

</launch>

