<?xml version="1.0" ?>
<launch>
<!-- <param name="/use_sim_time" value="true" /> -->

  <arg name="map_name" default="$(find nova_kobuki)/maps/umass.yaml" />
  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg map_name)" />

  <node pkg="joy" type="joy_node" name="joy_node" output="screen">
    <param name="dev" value="/dev/input/js2" />
  </node>

  <include file="$(find nova_kobuki)/launch/agent_sim.launch" />
  <include file="$(find nova_kobuki)/launch/autonomy.launch" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find nova_kobuki)/rviz/default.rviz" />

</launch>


